body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

#root {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}